* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
  min-width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(131, 199, 255);
  color: white;
}

body {
  margin: 0;
  padding: 0;
}

.navBar {
  background-color: rgb(131, 199, 255);
  display: flex;
  justify-content: center; /* Centers links evenly */
  gap: 30px; /* Adds equal spacing between links */
  box-shadow: 0px 0px 10px 0px rgb(15, 15, 15);
  padding: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.navBar a {
  color: black;
  outline: 2px solid black;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 40px;
}

.navBar a:hover {
  transition-duration: 0.4s;
  color: white;
  background-color: black;
}

.navBar a.active {
  color: white;
  background-color: black;
}

.backgroundImg {
  position: fixed;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-image: url(../media/ottercreekcf.jpg);
  background-size: cover;
  z-index: -1;
  filter: blur(5px);
}

.content {
  text-align: center;
  padding-top: 80px;
}

h1 {
  font-size: 55px;
}

h2 {
  font-size: 35px;
}

.box {
  font-size: 30px;
  outline: 5px solid white;
  display: inline-block;
  padding: 0px 15px 0px 15px;
  background-color: black;
}

.latestSermon, .constDownload {
  color: white;
  background-color: black;
  font-size: 50px;
  padding: 20px;
  border-radius: 8px;
  text-decoration: none;
}

.latestSermon:hover, .constDownload:hover {
  transition-duration: 0.6s;
  background-color: rgb(100, 100, 100);
  cursor: pointer;
}

.mediaButtons {
  color: white;
  background-color: black;
  font-size: 50px;
  padding: 20px;
  border-radius: 8px;
  cursor: pointer;
}

.homeVerse {
  font-size: 30px;
  font-style: italic;
}

.whoWeAre {
  display: inline-block;
  width: 75%;
  font-size: 30px;
}

.sOF {
  font-size: 28px;
  font-weight: bold;
  display: inline-block;
  width: 75%;
}

.orgs {
  height: 100px;
}

footer {
  font-size: 20px;
  background-color: black;
  text-align: center;
  font-weight: bold;
  padding: 1px;
}