/*Website made and managed by Liefe Sutliff*/
* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
  min-width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(219, 156, 37);
  color: white;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.topContactList {
  display: block;
  background-color: rgb(46, 46, 46);
  color: white;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px;
  z-index: 3;
}

#ytIcon {
  border-radius: 5px;
  padding: 1px 3px;
  color: red;
}

#fbIcon {
  border-radius: 5px;
  padding: 2px 4px;
  color: rgb(53, 53, 255);
}

#ytIcon:hover {
  transition-duration: 0.5s;
  background-color: white;
}

#fbIcon:hover {
  transition-duration: 0.5s;
  background-color: white;
}

.fa-brands {
  font-size: 55px;
}

#phoneIcon {
  font-size: 40px;
}

.socialNavBar {
  display: none;
  gap: 5px;
  width: 100%;
}

.navBar {
  background-color: rgb(155, 201, 255);
  display: flex;
  justify-content: center;
  gap: 30px;
  box-shadow: 0px 0px 10px 0px rgb(15, 15, 15);
  padding: 20px;
  position: fixed;
  top:54px;
  width: 100%;
  z-index: 2;
}

#occfLogo {
  width: 225px;
  height: 225px;
}

.navBar a {
  color: black;
  outline: 2px solid black;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 40px;
}

.navBar a:hover {
  transition-duration: 0.4s;
  background-color: rgb(255, 255, 255);
}

.navBar a.active {
  background-color: rgb(255, 255, 255);
}

.backgroundImg {
  position: fixed;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-image: url(../media/ottercreekcf.jpg);
  background-size: cover;
  z-index: -1;
  filter: blur(5px);
  filter: brightness(20%);
}

#homeTitle {
  font-size: 110px;
  font-family: "Bonheur Royale", serif;
  font-weight: 400;
  font-style: normal;
  text-shadow: 0px 0px 10px #aaa;
  padding: 10px;
}

.headTitle {
  font-size: 75px;
}

h2 {
  font-size: 45px;
  padding: 10px;
}

.contactPhoneNumber, .contactPhoneNumber:visited {
  color: rgb(53, 53, 255)
}

.content {
  text-align: center;
  padding-top: 210px;
  flex-grow: 1;
}

.box {
  font-size: 60px;
  outline: 5px solid white;
  display: inline-block;
  padding: 10px 70px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 8px;
}

.prevSermonsYT {
  color: white;
  background-color: rgb(230, 0, 0);
  font-size: 50px;
  padding: 20px;
  border-radius: 8px;
  text-decoration: none;
}

#ytLinkIcon {
  font-size: 34px
}

.prevSermonsYT:hover {
  transition-duration: 0.6s;
  background-color: red;
  cursor: pointer;
}

.latestSermonVideo iframe {
  width: 1120px;
  height: 630px;
}

.retreatVideos2024 > div > iframe, .retreatVideos2023 > div > iframe {
  width: 1120px;
  height: 630px;
}

.mediaButtons {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  font-size: 50px;
  padding: 20px;
  outline: 5px solid rgb(0, 0, 0);
  border-radius: 8px;
  text-decoration: none;
  cursor: pointer;
}

.mediaButtons:hover {
  transition-duration: 0.6s;
  background-color: rgb(180, 180, 180);
}

#links > a {
  font-weight: bold;
  font-size: 25px;
  color: white;
} /* Unvisited link  */
#links:visited > a {color: white;} /* Visited link    */
#links:hover > a {color: white;} /* Mouse over link */
#links:active > a {color: white;} /* Selected link   */

.homeVerse {
  font-size: 30px;
  padding: 10px;
}

.whoWeAre {
  display: inline-block;
  width: 75%;
  font-size: 30px;
}

.sOF {
  font-size: 28px;
  font-weight: bold;
  display: inline-block;
  width: 75%;
}

.options4WomenOrg {
  height: 110px;
  padding: 10px;
  border: 1px solid white;
}

.cruOrg {
  height: 110px;
  width: 155px;
  border: 1px solid white;
}

.fortWildernessOrg {
  height: 110px;
  padding: 10px;
  border: 1px solid white;
}

.ctoOrg {
  height: 110px;
  padding: 10px;
  border: 1px solid white;
}

.limOrg {
  height: 110px;
  padding: 10px;
  border: 1px solid white;
}

.videoSize > iframe {
  width: 560px;
  height: 315px;
}

#fullscreenCalendar, #fullscreenCalendar:visited {
  color: rgb(53, 53, 255);
}

footer {
  font-size: 20px;
  background-color: black;
  text-align: center;
  font-weight: bold;
}

.ytIcon:hover, .fbIcon:hover {
  transition-duration: 0.5s;
  background-color: white;
}

/* Default Hamburger Menu (Hidden) */
.hamburger {
  display: none;
  font-size: 40px;
  cursor: pointer;
  color: black;
}

@media all and (max-width: 1150px) {
  .latestSermonVideo iframe {
    width: 920px;
    height: 430px;
  }

  .retreatVideos2024 > div > iframe, .retreatVideos2023 > div > iframe {
    width: 920px;
    height: 430px;
  }
}

@media all and (max-width: 1050px) {
  .navBar {
    gap: 25px;
  }

  .navBar a {
    font-size: 35px;
  }
}

@media all and (max-width: 930px) {
  .navBar {
    gap: 20px;
  }

  .navBar a {
    font-size: 30px;
  }

  .latestSermonVideo iframe {
    width: 720px;
    height: 400px;
  }

  .retreatVideos2024 > div > iframe, .retreatVideos2023 > div > iframe {
    width: 720px;
    height: 400px;
  }

  #homeTitle {
    font-size: 90px;
  }
}

@media all and (max-width: 815px) {
  .topContactList {
    display: none;
  }

  .navBar > .socialNavBar > a {
    font-size: 50px;
  }

  .socialNavBar a {
    outline: 0;
  }

  .navBar {
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    top: 0;
  }

  .navBar a {
    display: none;
    width: 100%;
    text-align: center;
    margin: 5px 0;
    font-size: 50px;
  }

  .hamburger {
    display: block;
    margin-left: auto;
  }

  .navBar.showMenu a {
    display: block;
  }

  .navBar.showMenu .socialNavBar {
    display: flex;
  }

  .content {
    padding-top: 0;
  }
}

@media all and (max-width: 730px) {
  .latestSermonVideo iframe {
    width: 520px;
    height: 330px;
  }

  .retreatVideos2024 > div > iframe, .retreatVideos2023 > div > iframe {
    width: 520px;
    height: 330px;
  }

  #homeTitle {
    font-size: 80px;
  }
}

@media all and (max-width: 660px) {
  .box {
    font-size: 40px;
  }

  .mediaButtons {
    font-size: 30px;
  }

  .prevSermonsYT {
    font-size: 30px;
  }

  #ytLinkIcon {
    font-size: 26px
  }

  .headTitle {
    font-size: 50px;
  }

  h2 {
    font-size: 30px;
  }

  .videoSize > iframe {
    width: 460px;
    height: 215px;
  }

  .retreatVideos2024 > div > iframe, .retreatVideos2023 > div > iframe {
    width: 460px;
    height: 215px;
  }

  #homeTitle {
    font-size: 65px;
  }
}

@media all and (max-width: 540px) {
  .latestSermonVideo iframe {
    width: 380px;
    height: 230px;
  }

  .retreatVideos2024 > div > iframe, .retreatVideos2023 > div > iframe {
    width: 380px;
    height: 230px;
  }

  #homeTitle {
    font-size: 55px;
  }
}

@media all and (max-width: 470px) {
  .box {
    font-size: 30px;
  }

  .videoSize > iframe {
    width: 360px;
    height: 170px;
  }

  .retreatVideos2024 > div > iframe, .retreatVideos2023 > div > iframe {
    width: 360px;
    height: 170px;
  }

  .mediaButtons {
    font-size: 25px;
  }

  .headTitle {
    font-size: 40px;
  }

  .prevSermonsYT {
    font-size: 25px;
  }

  #ytLinkIcon {
    font-size: 20px
  }
}

@media all and (max-width: 400px) {
  .latestSermonVideo iframe {
    width: 360px;
    height: 200px;
  }

  .retreatVideos2024 > div > iframe, .retreatVideos2023 > div > iframe {
    width: 360px;
    height: 200px;
  }

  .ctoOrg {
    height: 95px;
  }
}

@media all and (max-width: 345px) {
  .mediaButtons {
    font-size: 20px;
  }

  .headTitle {
    font-size: 30px;
  }

  .prevSermonsYT {
    font-size: 20px;
  }

  #ytLinkIcon {
    font-size: 18px
  }

  .ctoOrg {
    height: 85px;
  }
}