/*Website made and managed by Liefe Sutliff*/
* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
  min-width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  color: white;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.topContactList {
  display: block;
  background-color: rgb(46, 46, 46);
  color: white;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px;
  z-index: 3;
}

#ytIcon {
  font-size: 30px;
  border-radius: 5px;
  padding: 1px 3px;
  color: red;
}

#fbIcon {
  font-size: 30px;
  border-radius: 5px;
  padding: 2px 4px;
  color: rgb(0, 0, 255);
}

#ytIcon:hover {
  transition-duration: 0.5s;
  background-color: white;
}

#fbIcon:hover {
  transition-duration: 0.5s;
  background-color: white;
}

.fa-brands {
  font-size: 55px;
}

#phoneIcon {
  font-size: 40px;
}

.socialNavBar {
  display: none;
  gap: 5px;
  width: 100%;
}

.navbar {
  background-color: rgb(90, 167, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  color: white;
}

.logo {
  font-size: 40px;
  font-weight: bold;
}

.logo img {
  width: 70px;
  aspect-ratio: 1/1;
}

.nav-links {
  list-style: none;
  display: flex;
  margin-right: 50px;
  gap: 40px;
}

.nav-links li a {
  font-size: 50px;
  color: white;
  text-decoration: none;
}

.nav-links li a.active {
  color: rgb(0, 0, 255);
}

.nav-links li a:hover {
  color: rgb(0, 0, 255);
  transition-duration: 0.2s;
}

/* Toggle Button (Hamburger) */
.toggle-btn {
  display: none;
  font-size: 50px;
  background: none;
  color: white;
  border: none;
  cursor: pointer;
}

.toggle-btn:hover {
  color: #ffe05c;
}

.backgroundImg {
  position: fixed;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-image: url(../media/ottercreekcf.jpg);
  background-size: cover;
  z-index: -1;
  filter: blur(5px);
  filter: brightness(20%);
}

#homeTitle {
  font-size: 110px;
  font-family: "Bonheur Royale", serif;
  font-weight: 400;
  font-style: normal;
  text-shadow: 0px 0px 10px #aaa;
  padding: 10px;
}

.headTitle {
  font-size: 75px;
}

h2 {
  font-size: 45px;
  padding: 10px;
}

.contactPhoneNumber, .contactPhoneNumber:visited {
  color: rgb(0, 0, 255)
}

.content {
  text-align: center;
  flex-grow: 1;
}

.box {
  font-size: 60px;
  outline: 5px solid white;
  display: inline-block;
  padding: 10px 70px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 8px;
}

.prevSermonsYT {
  color: white;
  background-color: rgb(230, 0, 0);
  font-size: 50px;
  padding: 20px;
  border-radius: 8px;
  text-decoration: none;
}

#ytLinkIcon {
  font-size: 34px
}

.prevSermonsYT:hover {
  transition-duration: 0.6s;
  background-color: red;
  cursor: pointer;
}

.latestSermonVideo iframe {
  aspect-ratio: 16/9;
  width: 1120px;
}

.retreatVideos2024 > div > iframe, .retreatVideos2023 > div > iframe {
  aspect-ratio: 16/9;
  width: 1120px;
}

.mediaButtons {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  font-size: 50px;
  padding: 20px;
  outline: 5px solid rgb(0, 0, 0);
  border-radius: 8px;
  text-decoration: none;
  cursor: pointer;
}

.mediaButtons:hover {
  transition-duration: 0.6s;
  background-color: rgb(180, 180, 180);
}

#links > a {
  font-weight: bold;
  font-size: 25px;
  color: white;
} /* Unvisited link  */
#links:visited > a {color: white;} /* Visited link    */
#links:hover > a {color: white;} /* Mouse over link */
#links:active > a {color: white;} /* Selected link   */

.homeVerse {
  font-size: 30px;
  padding: 10px;
}

.liveStream {
  font-size: 30px;
}

.whoWeAre {
  display: inline-block;
  width: 75%;
  font-size: 30px;
}

.sOF {
  font-size: 28px;
  font-weight: bold;
  display: inline-block;
  width: 75%;
}

.options4WomenOrg {
  height: 110px;
  padding: 10px;
  border: 1px solid white;
}

.cruOrg {
  height: 110px;
  width: 155px;
  border: 1px solid white;
}

.fortWildernessOrg {
  height: 110px;
  padding: 10px;
  border: 1px solid white;
}

.ctoOrg {
  height: 110px;
  padding: 10px;
  border: 1px solid white;
}

.limOrg {
  height: 110px;
  padding: 10px;
  border: 1px solid white;
}

.videoSize > iframe {
  width: 560px;
  height: 315px;
}

#fullscreenCalendar, #fullscreenCalendar:visited {
  color: rgb(0, 0, 255);
}

footer {
  font-size: 20px;
  background-color: black;
  text-align: center;
  font-weight: bold;
}

.ytIcon:hover, .fbIcon:hover {
  transition-duration: 0.5s;
  background-color: white;
}

@media all and (max-width: 1330px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 150px;
    right: 0px;
    margin-right: 0;
    background-color: #333;
    padding: 30px;
    border-radius: 0px 0px 0px 8px;
    z-index: 2;
  }

  .nav-links li a {
    padding: 20px 100px 20px 10px;
  }

  .nav-links.active {
    display: flex;
  }

  .toggle-btn {
    display: block;
    color: white;
  }

  .toggle-btn.activate {
    color: #ffe05c;
  }
}

@media all and (max-width: 1150px) {
  .latestSermonVideo iframe {
    width: 90%;
  }

  .retreatVideos2024 > div > iframe, .retreatVideos2023 > div > iframe {
    width: 90%;
  }
}

@media all and (max-width: 930px) {
  #homeTitle {
    font-size: 90px;
  }
}

@media all and (max-width: 730px) {
  #homeTitle {
    font-size: 80px;
  }

  .box {
    width: 90%;
    font-size: 40px;
  }

  .liveStream {
    font-size: 30px;
  }
}

@media all and (max-width: 660px) {

  .mediaButtons {
    font-size: 30px;
  }

  .prevSermonsYT {
    font-size: 30px;
  }

  #ytLinkIcon {
    font-size: 26px
  }

  .headTitle {
    font-size: 50px;
  }

  h2 {
    font-size: 30px;
  }

  #homeTitle {
    font-size: 65px;
  }
}

@media all and (max-width: 540px) {
  #homeTitle {
    font-size: 55px;
  }

  .box {
    padding: 10px 40px;
  }
}

@media all and (max-width: 470px) {

  .mediaButtons {
    font-size: 25px;
  }

  .headTitle {
    font-size: 40px;
  }

  .prevSermonsYT {
    font-size: 25px;
  }

  #ytLinkIcon {
    font-size: 20px
  }
}

@media all and (max-width: 400px) {
  .ctoOrg {
    height: 95px;
  }

  .topContactList {
    font-size: 25px;
  }

  #ytIcon {
    font-size: 25px;
  }

  #fbIcon {
    font-size: 25px;
  }

  .box {
    padding: 10px 10px;
  }

  .nav-links {
    padding: 25px;
  }

  .nav-links li a {
    font-size: 50px;
    padding: 20px 20px 20px 10px;
  }
}

@media all and (max-width: 345px) {
  .mediaButtons {
    font-size: 20px;
  }

  .headTitle {
    font-size: 30px;
  }

  .prevSermonsYT {
    font-size: 20px;
  }

  #ytLinkIcon {
    font-size: 18px
  }

  .ctoOrg {
    height: 85px;
  }

  .topContactList {
    font-size: 22px;
  }

  #ytIcon {
    font-size: 22px;
  }

  #fbIcon {
    font-size: 22px;
  }
}